
#wb_header { height: 465px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 377px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_footer { height: 129px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat-x scroll left top; }
html { scroll-behavior: smooth; }
body { background-color: transparent; }
body.site:before { background: transparent none repeat-x scroll left top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 971px; }
.wb_cont_inner { width: 992px; }
.wb_cont_bg { width: 992px; margin-left: -496px; }
.root { height: 971px; min-height: 971px; }
#wb_element_instance0 { top: 10px; left: 190px; min-width: 610px; width: 610px; min-height: 128px; height: 128px; display: block; z-index: 332; }
#wb_element_instance1 { top: 150px; left: 10px; min-width: 960px; width: 960px; min-height: 50px; height: 50px; display: block; z-index: 531; }
#wb_element_instance1 > ul { display: block; }
#wb_element_instance1 ul { background: #ffffff none repeat right top; border: 6px solid #284cde; }
#wb_element_instance1, #wb_element_instance1 ul { text-align: center; }
#wb_element_instance1 ul ul { background: #ffffff none repeat right top; }
#wb_element_instance1 li { margin: 0px 20px 0px 20px; }
#wb_element_instance1 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 0px 10px 0px; font: normal bold 16px 'Roboto Condensed',Arial,sans-serif; text-decoration: none; color: #404040; line-height: 18px; background: transparent none no-repeat center top; }
#wb_element_instance1 li.over > a, #wb_element_instance1 li:focus > a { border: 0px none #000000; font: normal bold 16px 'Roboto Condensed',Arial,sans-serif; text-decoration: underline; color: #284cde; line-height: 18px; background: transparent none no-repeat center top; }
#wb_element_instance1 li.active > a { border: 0px none #000000; font: normal bold 16px 'Roboto Condensed',Arial,sans-serif; text-decoration: none; color: #284cde; line-height: 18px; background: transparent none no-repeat center center; }
#wb_element_instance1:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance1:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance1:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance2 { top: 10px; left: 20px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: block; z-index: 334; }
#wb_element_instance2 img { width: 120px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance3 { top: 10px; left: 850px; min-width: 116px; width: 116px; min-height: 120px; height: 120px; display: block; z-index: 333; }
#wb_element_instance3 img { width: 116px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance4 { top: 0px; left: 0px; min-width: 338px; width: 338px; min-height: 24px; height: 24px; display: block; z-index: 317; }
#wb_element_instance5 { top: 230px; left: 180px; min-width: 570px; width: 570px; min-height: 230px; height: 230px; display: block; z-index: 255; overflow: hidden; }
#wb_element_instance5 img { width: 572.48908296943px; height: 230px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance6 { top: 206px; left: 5px; min-width: 985px; width: 985px; min-height: 24px; height: 24px; display: block; z-index: 303; }
#wb_element_instance7 { top: 32px; left: 130px; min-width: 750px; width: 750px; min-height: 116px; height: 116px; display: block; z-index: 140; }
#wb_element_instance8 { top: 187px; left: 60px; min-width: 880px; width: 880px; min-height: 140px; height: 140px; display: block; z-index: 237; }
#wb_element_instance9 { top: 44px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance0 p:last-child { margin-bottom: 0; }
#wb_element_instance0 { opacity: 1; }
#wb_element_instance2 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance3 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_element_instance4 { opacity: 1; }
#wb_element_instance5 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance7 p:last-child { margin-bottom: 0; }
#wb_element_instance7 { opacity: 1; }
#wb_element_instance8 p:last-child { margin-bottom: 0; }
#wb_element_instance8 { opacity: 1; }


@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 767px) {
}
