
#wb_header { height: 207px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 883px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_footer { height: 74px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat-x scroll left top; }
html { scroll-behavior: smooth; }
body { background-color: transparent; }
body.site:before { background: transparent url("gallery/9987.html") no-repeat scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 1164px; }
.wb_cont_inner { width: 992px; }
.wb_cont_bg { width: 992px; margin-left: -496px; }
.root { height: 1164px; min-height: 1164px; }
#wb_element_instance10 { top: 10px; left: 190px; min-width: 610px; width: 610px; min-height: 128px; height: 128px; display: block; z-index: 332; }
#wb_element_instance11 { top: 150px; left: 10px; min-width: 960px; width: 960px; min-height: 50px; height: 50px; display: block; z-index: 531; }
#wb_element_instance11 > ul { display: block; }
#wb_element_instance11 ul { background: #ffffff none repeat right top; border: 6px solid #284cde; }
#wb_element_instance11, #wb_element_instance11 ul { text-align: center; }
#wb_element_instance11 ul ul { background: #ffffff none repeat right top; }
#wb_element_instance11 li { margin: 0px 20px 0px 20px; }
#wb_element_instance11 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 0px 10px 0px; font: normal bold 16px 'Roboto Condensed',Arial,sans-serif; text-decoration: none; color: #404040; line-height: 18px; background: transparent none no-repeat center top; }
#wb_element_instance11 li.over > a, #wb_element_instance11 li:focus > a { border: 0px none #000000; font: normal bold 16px 'Roboto Condensed',Arial,sans-serif; text-decoration: underline; color: #284cde; line-height: 18px; background: transparent none no-repeat center top; }
#wb_element_instance11 li.active > a { border: 0px none #000000; font: normal bold 16px 'Roboto Condensed',Arial,sans-serif; text-decoration: none; color: #284cde; line-height: 18px; background: transparent none no-repeat center center; }
#wb_element_instance11:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance11:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance11:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance12 { top: 10px; left: 20px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: block; z-index: 334; }
#wb_element_instance12 img { width: 120px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance13 { top: 10px; left: 850px; min-width: 116px; width: 116px; min-height: 120px; height: 120px; display: block; z-index: 333; }
#wb_element_instance13 img { width: 116px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance14 { top: 0px; left: 0px; min-width: 338px; width: 338px; min-height: 24px; height: 24px; display: block; z-index: 317; }
#wb_element_instance15 { top: 140px; left: 220px; min-width: 770px; width: 770px; min-height: 240px; height: 240px; display: block; z-index: 69; }
#wb_element_instance16 { top: 20px; left: 0px; min-width: 310px; width: 310px; min-height: 43px; height: 43px; display: block; z-index: 72; }
#wb_element_instance17 { top: 90px; left: 0px; min-width: 230px; width: 230px; min-height: 28px; height: 28px; display: block; z-index: 74; }
#wb_element_instance18 { top: 140px; left: 0px; min-width: 212px; width: 212px; min-height: 300px; height: 300px; display: block; z-index: 75; }
#wb_element_instance18 img { width: 212px; height: 300px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance19 { top: 510px; left: 14px; min-width: 964px; width: 964px; min-height: 323px; height: 323px; display: block; z-index: 76; }
#wb_element_instance19 img { width: 964px; height: 323px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance20 { top: 44px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance10 p:last-child { margin-bottom: 0; }
#wb_element_instance10 { opacity: 1; }
#wb_element_instance12 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance13 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance14 p:last-child { margin-bottom: 0; }
#wb_element_instance14 { opacity: 1; }
#wb_element_instance15 p:last-child { margin-bottom: 0; }
#wb_element_instance15 { opacity: 1; }
#wb_element_instance16 p:last-child { margin-bottom: 0; }
#wb_element_instance16 { opacity: 1; }
#wb_element_instance17 p:last-child { margin-bottom: 0; }
#wb_element_instance17 { opacity: 1; }
#wb_element_instance18 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance19 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; box-sizing: border-box; overflow: hidden; }


@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 767px) {
}
