
#wb_header { height: 212px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 800px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_footer { height: 50px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat-x scroll left top; }
html { scroll-behavior: smooth; }
body { background-color: transparent; }
body.site:before { background: transparent url("gallery/9987.html") no-repeat scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 1062px; }
.wb_cont_inner { width: 992px; }
.wb_cont_bg { width: 992px; margin-left: -496px; }
.root { height: 1062px; min-height: 1062px; }
#wb_element_instance21 { top: 10px; left: 190px; min-width: 610px; width: 610px; min-height: 128px; height: 128px; display: block; z-index: 332; }
#wb_element_instance22 { top: 150px; left: 10px; min-width: 960px; width: 960px; min-height: 50px; height: 50px; display: block; z-index: 531; }
#wb_element_instance22 > ul { display: block; }
#wb_element_instance22 ul { background: #ffffff none repeat right top; border: 6px solid #284cde; }
#wb_element_instance22, #wb_element_instance22 ul { text-align: center; }
#wb_element_instance22 ul ul { background: #ffffff none repeat right top; }
#wb_element_instance22 li { margin: 0px 20px 0px 20px; }
#wb_element_instance22 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 0px 10px 0px; font: normal bold 16px 'Roboto Condensed',Arial,sans-serif; text-decoration: none; color: #404040; line-height: 18px; background: transparent none no-repeat center top; }
#wb_element_instance22 li.over > a, #wb_element_instance22 li:focus > a { border: 0px none #000000; font: normal bold 16px 'Roboto Condensed',Arial,sans-serif; text-decoration: underline; color: #284cde; line-height: 18px; background: transparent none no-repeat center top; }
#wb_element_instance22 li.active > a { border: 0px none #000000; font: normal bold 16px 'Roboto Condensed',Arial,sans-serif; text-decoration: none; color: #284cde; line-height: 18px; background: transparent none no-repeat center center; }
#wb_element_instance22:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance22:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance22:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance23 { top: 10px; left: 20px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: block; z-index: 334; }
#wb_element_instance23 img { width: 120px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance24 { top: 10px; left: 850px; min-width: 116px; width: 116px; min-height: 120px; height: 120px; display: block; z-index: 333; }
#wb_element_instance24 img { width: 116px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance25 { top: 0px; left: 0px; min-width: 338px; width: 338px; min-height: 24px; height: 24px; display: block; z-index: 317; }
#wb_element_instance26 { top: 40px; left: 0px; min-width: 305px; width: 305px; min-height: 43px; height: 43px; display: block; z-index: 57; }
#wb_element_instance27 { top: 130px; left: 0px; min-width: 380px; width: 380px; min-height: 196px; height: 196px; display: block; z-index: 60; }
#wb_element_instance28 { top: 420px; left: 100px; min-width: 750px; width: 750px; min-height: 330px; height: 330px; display: block; z-index: 61; }
#wb_element_instance29 form .form-area-field { height: 128px; }
#wb_element_instance29 { top: 50px; left: 420px; min-width: 480px; width: 480px; min-height: 280px; height: 280px; display: block; z-index: 62; }
#wb_element_instance30 { top: 44px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance21 p:last-child { margin-bottom: 0; }
#wb_element_instance21 { opacity: 1; }
#wb_element_instance23 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance24 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance25 p:last-child { margin-bottom: 0; }
#wb_element_instance25 { opacity: 1; }
#wb_element_instance26 p:last-child { margin-bottom: 0; }
#wb_element_instance26 { opacity: 1; }
#wb_element_instance27 p:last-child { margin-bottom: 0; }
#wb_element_instance27 { opacity: 1; }
#wb_element_instance29 form tr.area-row > th { height: 1%; }
#wb_element_instance29 form tr.area-row > td { height: 1%; }
#wb_element_instance29 form tr.form-footer > td { height: 20px; }


@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 767px) {
}
