
#wb_header { height: 210px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 1370px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_footer { height: 24px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
html { scroll-behavior: smooth; }
body { background-color: transparent; }
body.site:before { background: transparent url("gallery/p-ts1399630859.html") no-repeat scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 1604px; }
.wb_cont_inner { width: 992px; }
.wb_cont_bg { width: 992px; margin-left: -496px; }
.root { height: 1604px; min-height: 1604px; }
#wb_element_instance40 { top: 10px; left: 190px; min-width: 610px; width: 610px; min-height: 128px; height: 128px; display: block; z-index: 332; }
#wb_element_instance41 { top: 150px; left: 10px; min-width: 960px; width: 960px; min-height: 50px; height: 50px; display: block; z-index: 531; }
#wb_element_instance41 > ul { display: block; }
#wb_element_instance41 ul { background: #ffffff none repeat right top; border: 6px solid #284cde; }
#wb_element_instance41, #wb_element_instance41 ul { text-align: center; }
#wb_element_instance41 ul ul { background: #ffffff none repeat right top; }
#wb_element_instance41 li { margin: 0px 20px 0px 20px; }
#wb_element_instance41 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 0px 10px 0px; font: normal bold 16px 'Roboto Condensed',Arial,sans-serif; text-decoration: none; color: #404040; line-height: 18px; background: transparent none no-repeat center top; }
#wb_element_instance41 li.over > a, #wb_element_instance41 li:focus > a { border: 0px none #000000; font: normal bold 16px 'Roboto Condensed',Arial,sans-serif; text-decoration: underline; color: #284cde; line-height: 18px; background: transparent none no-repeat center top; }
#wb_element_instance41 li.active > a { border: 0px none #000000; font: normal bold 16px 'Roboto Condensed',Arial,sans-serif; text-decoration: none; color: #284cde; line-height: 18px; background: transparent none no-repeat center center; }
#wb_element_instance41:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance41:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance41:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance42 { top: 10px; left: 20px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: block; z-index: 334; }
#wb_element_instance42 img { width: 120px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance43 { top: 10px; left: 850px; min-width: 116px; width: 116px; min-height: 120px; height: 120px; display: block; z-index: 333; }
#wb_element_instance43 img { width: 116px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance44 { top: 0px; left: 0px; min-width: 338px; width: 338px; min-height: 24px; height: 24px; display: block; z-index: 317; }
#wb_element_instance45 { top: 10px; left: 60px; min-width: 390px; width: 390px; min-height: 28px; height: 28px; display: block; z-index: 39; }
#wb_element_instance46 { top: 60px; left: 100px; min-width: 780px; width: 780px; min-height: 160px; height: 160px; display: block; z-index: 52; }
#wb_element_instance47 { top: 290px; left: 100px; min-width: 780px; width: 780px; min-height: 200px; height: 200px; display: block; z-index: 303; }
#wb_element_instance48 { top: 36px; left: 100px; min-width: 240px; width: 240px; min-height: 24px; height: 24px; display: block; z-index: 304; }
#wb_element_instance49 { top: 260px; left: 100px; min-width: 240px; width: 240px; min-height: 24px; height: 24px; display: block; z-index: 305; }
#wb_element_instance50 { top: 520px; left: 98px; min-width: 240px; width: 240px; min-height: 24px; height: 24px; display: block; z-index: 306; }
#wb_element_instance51 { top: 550px; left: 98px; min-width: 782px; width: 782px; min-height: 200px; height: 200px; display: block; z-index: 307; }
#wb_element_instance52 { top: 790px; left: 100px; min-width: 240px; width: 240px; min-height: 24px; height: 24px; display: block; z-index: 308; }
#wb_element_instance53 { top: 830px; left: 98px; min-width: 782px; width: 782px; min-height: 200px; height: 200px; display: block; z-index: 309; }
#wb_element_instance54 { top: 1080px; left: 98px; min-width: 240px; width: 240px; min-height: 24px; height: 24px; display: block; z-index: 310; }
#wb_element_instance55 { top: 1120px; left: 98px; min-width: 782px; width: 782px; min-height: 200px; height: 200px; display: block; z-index: 311; }
#wb_element_instance56 { top: 44px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance40 p:last-child { margin-bottom: 0; }
#wb_element_instance40 { opacity: 1; }
#wb_element_instance42 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance43 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance44 p:last-child { margin-bottom: 0; }
#wb_element_instance44 { opacity: 1; }
#wb_element_instance45 p:last-child { margin-bottom: 0; }
#wb_element_instance45 { opacity: 1; }
#wb_element_instance48 p:last-child { margin-bottom: 0; }
#wb_element_instance48 { opacity: 1; }
#wb_element_instance49 p:last-child { margin-bottom: 0; }
#wb_element_instance49 { opacity: 1; }
#wb_element_instance50 p:last-child { margin-bottom: 0; }
#wb_element_instance50 { opacity: 1; }
#wb_element_instance52 p:last-child { margin-bottom: 0; }
#wb_element_instance52 { opacity: 1; }
#wb_element_instance54 p:last-child { margin-bottom: 0; }
#wb_element_instance54 { opacity: 1; }


@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 767px) {
}
